/* Reiniciamos los estilos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: rgb(121, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Situamos la parte principal de la aplicacion 
en el centro de la pantalla
*/

.wrapper {
    color: white;
    position: absolute;
    top: calc(50% - 450px);
    left: calc(50% - 400px);
    width: 800px;
    height: 900px;
    border-bottom: 6px solid black;
    padding: 2rem;
    background-image: linear-gradient(rgb(75, 0, 0), rgb(121, 121, 121));
}

header {
    width: 100%;
    height: 60px;
    font-size: 40px;
    text-align: center;
}

section {
    font-size: 30px;
    text-align: center;
}

table {
    height: 100%;
    width: 100%;
    display: table;
}

tr {
    display: table-row;
    width: 100%;
}

ul {
    margin-top: 15px;
    padding-left: 225px;
}

li {
    display: table-cell;
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}

/*
    Seleccionamos los input de tipo radio
*/
input[type=radio] {
    padding: 5px;
    display: none;
}

label {
    background-color: #252627;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10%;
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 5px;
    transition: all .2s ease;
    padding: 10px;
}

/*
    Seleccionamos los inputas checkeados
*/

input[type=radio]:checked+label {
    box-sizing: border-box;
    background: #BB0A21;
    border: 2px solid grey;
    color: white;
}

select {
    border-radius: 5px;
}

select:hover {
    opacity: 1;
    cursor: pointer;
}

canvas {
    background-color: #cacaca;
    position: relative;
    top: 30px;
    left: calc(50% - 349px);
    border: 1px solid black;
    z-index: 1;
    border: 0;
}

select {
    width: 120px;
    height: 50px;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 230px;
    right: 100px;
}

/*
    Esta clase transforma el canvas para dar la
    perspectiva de que esta mas plano
*/
.pastel {
    transform: rotateX(320deg);
}

.fijo {
    position: absolute;
    top: 200px;
    z-index: 0;
}

.leyenda{
    opacity: 0;
    z-index: 2;
    width: 900px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 770px;
    left: -100px;
}

.leyendaItem:nth-child(1){
    color: red;
}
.leyendaItem:nth-child(2){
    color: green;
}
.leyendaItem:nth-child(3){
    color: blue;
}
.leyendaItem:nth-child(4){
    color: yellow;
}

.leyenda.active{
    opacity: 1;
}